/* variables */
:root {
  --background: hsl(240, 23%, 5%);
  --foreground: #f7f7fc;
  --muted: hsl(240, 3%, 54%);

  --background-secondary: hsl(240, 20%, 10%);
  --background-tertiary: hsl(240, 18%, 13%);

  --pink: hsl(330, 81%, 60%);
  --furisha: hsl(292, 84%, 61%);
  --green: hsl(160, 84%, 39%);
  --blue: hsl(217, 91%, 60%);
  --violet: hsl(258, 90%, 66%);
  --orange: hsl(25, 95%, 53%);
  --cyan: hsl(189, 94%, 43%);

  --rounded: 1rem;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base style */
body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Lexend", system-ui;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* re-useable styles */
.text-2xl {
  font-size: 2rem;
  font-weight: 500;
}
.text-xl {
  font-size: 1.5rem;
  font-weight: 500;
}
.text-lg {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--muted);
}
.text-base {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--muted);
}

/* container */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* header section */
.header {
  width: 100%;

  .nav {
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--background-secondary);
    text-align: center;
    border-radius: var(--rounded);
    margin-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    a {
      color: var(--foreground);
      height: 100%;
      img {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}

.item-card {
  width: 100%;
  background-color: var(--background-secondary);
  border-radius: var(--rounded);
  padding: 1rem;

}
